* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}

#main {
  height: 100%;
  width: 100%;
  position: relative;
  font-family: "Satoshi Medium";
}

nav {
  display: flex;
  justify-content: space-around;
  height: 80px;
  align-items: center;
}
.menu ul li {
  display: inline-block;
  margin: 0 18px;
}
.search {
  border: 1px solid black;
  padding: 11px;
}
.search input {
  border: none;
  outline: none;
}

.menu ul li a {
  text-decoration: none;
  color: black;
}
.menu ul li i {
  font-size: 20px;
  color: #141414;
  margin: 0 13px;
}

.gallery {
  width: 100%;
  margin-top: 20px;
}

.gallery-cell {
  width: 66%;
  height: 500px;
  margin-right: 10px;
  background: #8c8;
  position: relative;
  overflow: hidden;
}

.gallery-cell img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.content {
  position: absolute;
  top: 50%;
  left: 27%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  padding: 18px 24px;
  width: min(90%, 520px);
}

.content h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.content p {
  font-size: 16px;
  line-height: 1.5;
}

.card {
  width: 300px;
  height: 200px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  text-transform: capitalize;
  border-radius: 3px;
}
.card i {
  font-size: 40px;
  color: #141414;
  margin-bottom: 10px;
}
.sections_cards {
  padding: 4rem 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.featured_section {
  padding: 4rem 3rem;
}

.featured_heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-group button {
  font-family: "Satoshi Medium";
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border: 1px solid #000;
  background-color: transparent;
  color: #000;
  cursor: pointer;
}

.btn-group button:first-child {
  background-color: #141414;
  color: #fff;
}

.btn-group button:hover {
  background-color: #000;
  color: #fff;
  transition: 0.3s ease-in-out;
}

.featured_product {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 40px;
  margin-top: 20px;
}

.cards {
  padding: 25px;
  border: 1px solid #141414;
  background-color: white;
  box-shadow: 0 2px 25px rgba(0, 0, 0, 0.1);
}
.cards img {
  width: 100%;
  height: 70%;
  object-fit: cover;
}
.card-body {
  padding: 10px;
}
.cards-body h3 {
  font-size: 19px;
  color: #252525;
  margin-top: 10px;
}
.cards-body i {
  color: #f4c150;
  font-size: 18px;
}
.price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  margin-top: 10px;
}

.popular_catagory {
  padding: 4rem 3rem;
}

.popular_catagory h1 {
  font-size: 24px;
  color: #141414;
  margin-bottom: 20px;
}
.catagory_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  place-items: center;
}
.item1 {
  background-image: url("./catagory_items1.png");
  width: 100%;
  height: 500px;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 20px;
  /* background-position: center; */
}
.item1 h1 {
  font-size: 24px;
  color: #141414;
  margin-bottom: 10px;
}

.item2 {
  width: 100%;
  height: 500px;
  background-image: url("./catagory_items2.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 20px;
}

.item3 {
  width: 100%;
  height: 500px;
  background-image: url("./catagory_items3.png");

  background-size: contain;
  background-repeat: no-repeat;
  padding: 20px;
}

.item4 {
  width: 100%;
  height: 500px;
  background-image: url("./catagory_items4.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding: 20px;
}
.ctasection {
  padding: 4rem 3rem;
  background-color: #f4f4f4;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.count {
  display: flex;
  gap: 20px;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.countbox h1 {
  background-color: white;
  padding: 20px;
}
.countflex {
  display: flex;
  justify-content: center;
}
.countfleximg {
  background-image: url("./bg.png");
  background-size: cover;
  background-repeat: no-repeat;
}

footer {
  background-color: #141414;
  color: white;
  padding: 4rem 3rem;
}

.row1 {
  display: flex;
  align-items: center;
  height: 70px;
  justify-content: space-between;
  border-bottom: 2px solid #f4f4f4;
}

.row2 {
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: space-between;
}
.row2content {
  display: flex;
  gap: 20px;
}


nav svg {
  display: none;
  cursor: pointer;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
  nav svg {
    display: block;
  }

.menu {
  display: none;
}
.search {
  border: 1px solid black;
  padding: 7px;
}
.search input {
  border: none;
  outline: none;
}

  .gallery {
    width: 100%;
  }

  .gallery-cell {
    width: 80%;
    height: 50%;
  }

  .sections_cards {
    padding: 2rem;
    flex-direction: column;
    row-gap: 20px;
  }
  .card {
    width: 100%;
    height: 100%;
  }

  .featured_product {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    margin-top: 20px;
  }
  .popular_catagory {
    display: none;
  }
}
